<!doctype html>  

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>#{get 'title' /} - ${play.configuration.getProperty('application.name')}</title>
  <meta name="description" content="${play.configuration.getProperty('application.description')}">
  <meta name="author" content="${play.configuration.getProperty('application.author')}">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/boilerplate/favicon.ico">
  <link rel="apple-touch-icon" href="/boilerplate/apple-touch-icon.png">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="/boilerplate/css/style.css?v=2">
  <link rel="stylesheet" href="@{'/public/stylesheets/main.css'}">
  #{get 'moreStyles' /}

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="/boilerplate/css/handheld.css?v=2">  -->
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/boilerplate/js/libs/modernizr-1.6.min.js"></script>

</head>

<body>

  <div id="container">
    <b class="border-a"></b>
    <b class="border-b"></b>
    <b class="border-c"></b>
    <b class="border-d"></b>
  
    <header id="header">
      <div class="wrapper">
        <h1>
          <a href="/">${play.configuration.getProperty('application.name')}</a>
        </h1>
        <h2>${play.configuration.getProperty('application.description')}</h2>
        <ul>
          <li class="selected">
            <a href="/">Play! Boilerplate</a><span>&gt;</span>
          </li>
          <li>
            <a href="//github.com/mklabs/play-apps">Code</a><span>&gt;</span>
          </li>
        </ul>
      </div>
    </header>
    
    <div id="top">
      <p><a href="//html5boilerplate.com">HTML5 Boilerplate</a> mixed in with the <a href="//playframework.com">Play! Framework</a></p>
      <p><em>And you'll get the best of the web... On both sides !</em></p>
    </div>
    
    <div id="main">
      #{doLayout /}
    </div>
    
    <footer>
      <p>Brought to you by <em>a little guy that loves those two projects</em></p>
    </footer>
  </div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/boilerplate/js/libs/jquery-1.5.0.js"%3E%3C/script%3E'))</script>

  
  <!-- scripts concatenated and minified via ant build script-->
  <!-- Play!Boilerplate: you'll probably want to change this to match yours. -->
  <!-- Play!Boilerplate: plugins.js is where you put all external jQuery plugins,  script is where you put your own code. -->
  <script src="/boilerplate/js/plugins.js"></script>
  <script src="/boilerplate/js/script.js"></script>
  
  #{get 'moreScripts' /}  
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="/boilerplate/js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->

  <!-- yui profiler and profileviewer - remove for production -->
  <script src="/boilerplate/js/profiling/yahoo-profiling.min.js"></script>
  <script src="/boilerplate/js/profiling/config.js"></script>
  <!-- end profiling code -->


  <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
       change the UA-XXXXX-X to be your site's ID -->
  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>