/* we do not need to link to ourselves. only our friends. <3 */

/* Mostly inspired by the Play! homepage */
.wrapper{width:960px;margin:auto;position:relative;}
.wrapper:after{content:" ";display:block;clear:both;}
.wrapped{width:650px;}


/** HEADER **/
#header {
    height: 70px;
    background: #444;
    background:  -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
    background:  -moz-linear-gradient(left bottom, #555, #333);
    background:  gradient(linear, left top, left bottom, from(#555), to(#333));
}

#header h2 { color: #bada55; }

#header h1 {
	letter-spacing: 0.3em;
}

#header h1 a {
    color: #dfdfdf;
    font-style: italic;
    font-size: 1.7em;
    font-weight: lighter;
    line-height: 1.4em;
    padding-top: 0.7em;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

#header h1 a span.play {
	color: #bada55;
	font-size: 1em;
	font-style: normal;
	margin-left: -0.4em;
	
 -moz-transform: rotate(15deg);  /* FF3.5+ */
       -o-transform: rotate(15deg);  /* Opera 10.5 */
  -webkit-transform: rotate(15deg);  /* Saf3.1+, Chrome */
      -ms-transform: rotate(15deg);  /* IE9 */
          transform: rotate(15deg);  
             filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */ 
                     M11=0.9659258262890683, M12=-0.25881904510252074, M21=0.25881904510252074, M22=0.9659258262890683, sizingMethod='auto expand');
               zoom: 1;
	
}



#header ul {
    list-style: none;
    position: absolute;
    right: 0;
    top: 12px;
}

#header ul li {
    float: left;
    padding: 15px 15px;
    position: relative;
}

#header ul span {
    display: none;
}

#header ul a {
    color: #B3E862;
    color: #999;
    text-shadow: #000 -1px -1px 0px;
    text-decoration: none;
    font-size: 15px;
}
#header ul a:hover {
    color: #B3E862;
    color: #ccc;
}

#header ul .selected a {
    color: #fff;
}

#top {
    background: #8adc92;
    padding: 10px 0 0;
    overflow: hidden
    zoom: 1;
    margin-bottom: 20px;
    background: -webkit-gradient(linear, left bottom, right top, from(#fff), to(#bada55));
    background: -moz-linear-gradient(left bottom, #fff, #bada55);
    background: gradient(linear, left bottom, right top, from(#fff), to(#bada55));
    
    
    color: #bada55;
    text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 0px;
    border-bottom: 1px solid #bbb;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}

#top p {
    color: #1e4432;
    color: rgba(30, 68, 50, 0.8);
    font-weight: lighter;
    font-size: 1.5em;
    color: #525252;
    line-height: 1.4em;
    letter-spacing: 0.3em;
    width: 960px;
    margin: 0 auto 10px;
    padding: 0;
}

#top a {
	color: #E16734;
	text-decoration: none;
	letter-spacing: 0.3em;
}

#main .page-content {
    width: 660px;
}

#main .page-sidebar {
    overflow: hidden;
}

#main .page-sidebar a {
	text-decoration: none;
	color: #777;
}

#container a:hover {
	text-shadow: 0 0 15px #fff;
}

/* Inline star bullet, courtesy of boilerplate **/
#container ul { list-style: none !important;}
#container li:before{content:"★"; padding-right:0.5em; color: #bada55;}

/* Super awesome b strips, courtesy of boilerplate */
b {
    -moz-transform: scale(1.5) rotate(-45deg);
    -moz-transform-origin: 20% 0;
    background:  -webkit-gradient(left bottom, #fff, #efefef);
    background:  -moz-linear-gradient(left bottom, #fff, #efefef);
    background:  gradient(linear, left top, left bottom, from(#fff), to(#efefef));
    display: block;
    height: 100%;
    left: -1em;
    position: fixed;
    top: 50%;
    width: 1em;
    z-index: -1;
}
b.border-b {
  -webkit-transform: scale(1.5) rotate(45deg);
  -webkit-transform-origin: 80% 0%;
  -moz-transform: scale(1.5) rotate(45deg);
  -moz-transform-origin: 80% 0%;
  -o-transform: scale(1.5) rotate(45deg);
  -o-transform-origin: 80% 0%;
  left: auto;
  right: -1em;
}
b.border-c {
  -webkit-transform: scale(1.5) rotate(-45deg);
  -webkit-transform-origin: 20% 0%;
  -moz-transform: scale(1.5) rotate(-45deg);
  -moz-transform-origin: 20% 0%;
  -o-transform: scale(1.5) rotate(-45deg);
  -o-transform-origin: 20% 0%;
  left: 2em;
  top: 0;
}
b.border-d {
  -webkit-transform: scale(1.5) rotate(45deg);
  -webkit-transform-origin: 80% 0%;
  -moz-transform: scale(1.5) rotate(45deg);
  -moz-transform-origin: 80% 0%;
  -o-transform: scale(1.5) rotate(45deg);
  -o-transform-origin: 80% 0%;
  left: auto;
  right: 2em;
  top: 0;
}



.wikistyle h1:before,.wikistyle h2:before,.wikistyle h3:before,.wikistyle h4:before,.wikistyle h5:before,.wikistyle h6:before,
.wikistyle h1:after,.wikistyle h2:after,.wikistyle h3:after,.wikistyle h4:after,.wikistyle h5:after,.wikistyle h6:after{content:"★";padding-right:0.5em;color:#bada55;}
/** Wikistyle,thx to github guys. **/
.wikistyle h1,.wikistyle h2,.wikistyle h3,.wikistyle h4,.wikistyle h5,.wikistyle h6{border:0 !important;color:#525252;letter-spacing:0.3em;}
.wikistyle h1{font-size:170% !important;border-top:4px solid #aaa !important;padding-top:.5em !important;margin-top:1.5em !important;}
.wikistyle h1:first-child{margin-top:0 !important;padding-top:.25em !important;border-top:none !important;}
.wikistyle h2{font-size:150% !important;margin-top:1.5em !important;padding-top:.5em !important;}
.wikistyle h3{margin-top:1em !important;}
.wikistyle p{margin:1em 0 !important;line-height:1.5em !important;}
.wikistyle a.absent{color:#a00;}
.wikistyle ul,#wiki-form .content-body ul{margin:1em 0 1em 2em !important;}
.wikistyle ol,#wiki-form .content-body ol{margin:1em 0 1em 2em !important;}
.wikistyle ul li,#wiki-form .content-body ul li,.wikistyle ol li,#wiki-form .content-body ol li{margin-top:.5em;margin-bottom:.5em;}
.wikistyle ul ul,.wikistyle ul ol,.wikistyle ol ol,.wikistyle ol ul,#wiki-form .content-body ul ul,#wiki-form .content-body ul ol,#wiki-form .content-body ol ol,#wiki-form .content-body ol ul{margin-top:0 !important;margin-bottom:0 !important;}
.wikistyle blockquote{margin:1em 0 !important;border-left:5px solid #ddd !important;padding-left:.6em !important;color:#555 !important;}
.wikistyle dt{font-weight:bold !important;margin-left:1em !important;}
.wikistyle dd{margin-left:2em !important;margin-bottom:1em !important;}
.wikistyle table{margin:1em 0 !important;}
.wikistyle table th{border-bottom:1px solid #bbb !important;padding:.2em 1em !important;}
.wikistyle table td{border-bottom:1px solid #ddd !important;padding:.2em 1em !important;}
.wikistyle pre{margin:1em 0;font-size:12px;background-color:#eee;border:1px solid #ddd;padding:5px;line-height:1.5em;color:#444;overflow:auto;-webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.wikistyle pre::-webkit-scrollbar{height:8px;width:8px;}
.wikistyle pre::-webkit-scrollbar-track-piece{margin-bottom:10px;background-color:#e5e5e5;border-bottom-left-radius:4px 4px;border-bottom-right-radius:4px 4px;border-top-left-radius:4px 4px;border-top-right-radius:4px 4px;}
.wikistyle pre::-webkit-scrollbar-thumb:vertical{height:25px;background-color:#ccc;-webkit-border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(255,255,255,1);}
.wikistyle pre::-webkit-scrollbar-thumb:horizontal{width:25px;background-color:#ccc;-webkit-border-radius:4px;}
.wikistyle a code,.wikistyle a:link code,.wikistyle a:visited code{color:#4183c4 !important;}
.wikistyle img{max-width:100%;}
.wikistyle pre.console{margin:1em 0 !important;font-size:12px !important;background-color:black !important;padding:.5em !important;line-height:1.5em !important;color:white !important;}
.wikistyle pre.console code{padding:0 !important;font-size:12px !important;background-color:black !important;border:none !important;color:white !important;}
.wikistyle pre.console span{color:#888 !important;}
.wikistyle pre.console span.command{color:yellow !important;}
.wikistyle .frame{margin:0;display:inline-block;}
.wikistyle .frame img{display:block;}
.wikistyle .frame>span{display:block;border:1px solid #aaa;padding:4px;}
.wikistyle .frame span span{display:block;font-size:10pt;margin:0;padding:4px 0 2px 0;text-align:center;line-height:10pt;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;}
.wikistyle .float-left{float:left;padding:.5em 1em .25em 0;}
.wikistyle .float-right{float:right;padding:.5em 0 .25em 1em;}
.wikistyle .align-left{display:block;text-align:left;}
.wikistyle .align-center{display:block;text-align:center;}
.wikistyle .align-right{display:block;text-align:right;}
